body, div, section, nav, header, footer, span, ul, li, ol, dl, dt, dd {
  padding: 0;
  margin: 0;
}
html {
  font-size: 100px;
}
ul, li, ol, dl, dt, dd {
  list-style: none;
}
input, button {
  border: 0;
  outline: none;
  background: #fff;
}
